@inherits LayoutComponentBase

<PageTitle>MovieCatalogue</PageTitle>

<div class="page">
    
    <RadzenHeader>
        <Menu/>
    </RadzenHeader>
    <RadzenBody Style="margin-left: 0px; margin-top: 50px">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </RadzenBody>
    
</div>
