.nav-item {
    font-size: 0.9rem;
    color: mediumpurple;
}
.nav-item ::deep a {
    color: white;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

RadzenMenu div{
    color: mediumpurple;
}